@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --gradient: #554023;
        --background: 37 97.1% 98.48%;
        --foreground: 37 4.2% 0.96%;
    
        --muted: 37 4.2% 92.4%;
        --muted-foreground: 37 2.1% 42.4%;
    
        --popover: 37 56.4% 92.4%;
        --popover-foreground: 37 4.2% 1.2%;
    
        --card: 37 56.4% 92.4%;
        --card-foreground: 37 4.2% 1.2%;
    
        --border: 37 9.2% 89.96%;
        --input: 37 9.2% 89.96%;
    
        --primary: 37 42% 24%;
        --primary-foreground: 37 0.84% 92.4%;
    
        --secondary: 37 2.1% 96.2%;
        --secondary-foreground: 37 3.52% 12.4%;
    
        --accent: 37 2.1% 96.2%;
        --accent-foreground: 37 3.52% 12.4%;
    
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
    
        --ring: 37 42% 24%;
    
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
